* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: black;
}

#app {
  border: 4px;
  max-width: 900px;
  margin-inline: auto;
}

h3 {
  color: white;
  text-align: center;
  margin: 0;
  background-color: black;
  padding: 0.5rem;
  border-radius: 30px;
  margin-bottom: 0rem;
}

header {
  margin-block-end: 3rem;
}
header h1 {
  text-align: center;
  color: whitesmoke;
}

nav ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  background-color: rgb(162, 0, 0);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: bold;
}

.bottom-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.list-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.list-container ul li {
  background-color: gray;
  padding: 2rem;
  height: auto;
  border-radius: 30px;
}
.list-container ul li a {
  color: black;
  font-style: oblique;
  text-decoration: underline;
  background-color: whitesmoke;
  margin: 0;
  padding: 3rem 1rem;
  border-radius: 20px;
}
.list-container ul li h2 {
  text-align: center;
  background-color: whitesmoke;
  color: black;
  margin: 0;
  padding: 1rem;
  border-radius: 20px;
}
.list-container ul li .card-image-container {
  display: flex;
  width: 20rem;
  height: 15rem;
  align-items: center;
  justify-content: center;
  margin-block: 1rem;
}
.list-container ul li img {
  border-radius: 30px;
  width: 100%;
}
.list-container ul li .button-container {
  display: flex;
  justify-content: space-between;
}
.list-container ul li .button-container a {
  background-color: yellow;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: blue;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
